* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--fontFamily-default);
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}
