:root {
    /* *** COLORS *** */
    --black: #353535;
    --grey: #6a6a6a;
    --white: #f7f7f7;

    /* *** DEFAULT *** */
    --fontFamily-default: 'Montserrat', sans-serif;
    --fontSize-default: 1rem;

    /* *** TITLE *** */
    --fontFamily-title-featured: 'Elsie Swash Caps', serif;
    --fontSize-title: 1.375rem;
    --fontSize-title-featured: 2rem;
    --fontWeight-title-featured: 900;
}