:root {
    /* *** COLORS *** */
    --black: #353535;
    --grey: #6a6a6a;
    --white: #f7f7f7;

    /* *** DEFAULT *** */
    --fontFamily-default: 'Montserrat', sans-serif;
    --fontFamily-text: 'Roboto', serif;
}