.menu-hamburger__icon {
    position: absolute;
    display: block;
    background: var(--black);
    width: 30px;
    height: 3px;
    top: 8.5px;
}

.menu-hamburger__icon:before, 
.menu-hamburger__icon:after {
    background: var(--black);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-hamburger__icon:before {
    top: -8.5px;
}

.menu-hamburger__icon:after {
    top: 8.5px;
}

