* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--fontFamily-default);
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    height: 100vh;
    padding-left: 17vw;
    padding-right: 17vw;
}

@media only screen and (max-width: 1260px) {
    .container {
        padding-left: 7vw;
        padding-right: 7vw;
    };
}

.title--default {
    font-family: inherit;
    font-size: 8.125rem;
    color: inherit;
    max-width: 99%;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 0px) {
    .title--default {
        font-size: 3.125rem;
    }
}

@media only screen and (min-width: 480px) {
    .title--default {
        font-size: 5.125rem;
    }
}

@media only screen and (min-width: 768px) {
    .title--default {
        font-size: 6.125rem;
    }
}

@media only screen and (min-width: 992px) {
    .title--default {
        font-size: 7.125rem;
    }
}

@media only screen and (min-width: 1200px) {
    .title--default {
        font-size: 8.125rem;
    }
}

.text--default {
    font-family: var(--fontFamily-text);
    font-size: 1.125rem;
    color: var(--grey);
}
