.container {
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 17vw;
    padding-right: 17vw;
    text-align: center;
}

@media only screen and (max-width: 1260px) {
    .container {
        padding-left: 7vw;
        padding-right: 7vw;
    }
}
