{% extends 'layout.html' %}

{% block content %}
<section id="cards">
    <div class="card" id="OzR8M5IG39A">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>SCATOLOVE - PRINCESA (Torta de Maçã)</p>
        </div>
        <div class="card__info">
            <p class="card__time">4:51 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="7YO5xFKfQ18">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>O TIRO | Mauro Henrique feat Scatolove</p>
        </div>
        <div class="card__info">
            <p class="card__time">3:54 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="OBaUHzeoDsQ">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>La Casa de Papel (Bella Ciao) Bachata Feeling
            </p>
        </div>
        <div class="card__info">
            <p class="card__time">4:51 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>TIAGO IORC - Bilhetes</p>
        </div>
        <div class="card__info">
            <p class="card__time">4:51 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>TIAGO IORC - Bilhetes</p>
        </div>
        <div class="card__info">
            <p class="card__time">4:51 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card">
        <div class="card__img-container">
            <img src="" alt="">
        </div>
        <div class="card__content">
            <p>TIAGO IORC - Bilhetes</p>
        </div>
        <div class="card__info">
            <p class="card__time">4:51 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>
</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal"> + </a>
        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}