{% extends 'layout.njk' %}

{% block content %}
    <section id="cards">

        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card__img-container">
                    <img src="" alt="{{item.title}}">
                </div>
                <div class="card__content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p class="card__time">{{item.duration}}</p>
                    <p class="card__price">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                +
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}