{% extends 'layout.njk' %}

{% block content %}
    <section id="cards">

        <div class="card" id="{{item.id}}">
            <div class="card__img-container {{ 'featured-wrapper' if item.featured }}">
                <img src="" alt="{{item.title}}">
                {% if item.featured %}
                    <div class="featured">
                        featured
                    </div>
                {% endif %}
            </div>
            <div class="card__content">
                <p>{{item.title}}</p>
            </div>
            <div class="card__info">
                <p class="card__time">{{item.duration}}</p>
                <p class="card__price">{{item.price}}</p>
            </div>
        </div>

    </section>
{% endblock %}