.header {
    width: 100%;
    padding: 2rem 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* @media only screen and (max-width: 768px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
} */
