.cards {
    max-width: 992px;
    margin: 0 auto;
}


/* *** Cards Title *** */

.cards__title {
    color: var(--black);
    margin-bottom: 1.5rem;
}

    @media screen and (min-width: 0) {
        .cards__title {
            font-size: 2rem;
        }    
    }

    @media screen and (min-width: 768px) {
        .cards__title {
            font-size: 3.75rem;
        }    
    }


/* *** Cards Item *** */

.cards__item {
    width: 100%;
    padding: 2.5rem 0;
    padding: 6vh 3vw;
    transition: .4s ease-in-out;
}

    @media only screen and (max-width: 1260px) {
        .cards__item {
            padding: 5vh 7vw;
        }
    }


/* *** Cards Description *** */

.cards__description {
    font-size: 1.25rem;
    color: var(--black);
    font-weight: 400;
    line-height: 2rem;
}