.menu {
    position: absolute;
    right: 50vw;
    top: 50vh;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
}

#menu-hamburger {
    display: none;
}

#menu-hamburger:checked  ~ .menu{
    opacity: 1;
    visibility: visible;
}

#menu-hamburger:checked ~ .menu-label {
    box-shadow: 0 0 0 130vw var(--white), 0 0 0 130vh var(--white);
}


#menu-hamburger:checked ~ .menu-label {
    transform: rotate(45deg);
    transition: .3s;
}

#menu-hamburger:checked ~ .menu-label .menu-hamburger:before {
    top: 0;
    transform: rotate(90deg);
    transition: .3s ease-in-out;
}

#menu-hamburger:checked ~ .menu-label .menu-hamburger::after {
    top: 0;
    transform: rotate(90deg);
    transition: .3s ease-in-out;
}

.menu-label {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: .3s ease-in-out;
    background-color: var(--white);

}

.menu-label:hover {
    cursor: pointer;
}

.menu-label:hover > .menu-hamburger::before{
    top: -10.5px;
}

.menu-label:hover > .menu-hamburger::after{
    top: 10.5px;
}

.menu-hamburger {
    position: absolute;
    display: block;
    background: var(--black);
    width: 30px;
    height: 3px;
    top: 8.5px;
}

.menu-hamburger:before, 
.menu-hamburger:after {
    background: var(--black);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-hamburger:before {
    top: -8.5px;
}

.menu-hamburger:after {
    top: 8.5px;
}

