{% extends 'layout.njk' %}

{% block content %}
<section id="skills-section">
    <div class="section-wrapper">
        <h2 class="section-title">skills</h2>

        <p class="id-apresentation">orem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus augue. Vestibulum nec turpis ultricies, iaculis nunc a, placerat lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id lorem commodo, pulvinar orci quis, ultrices ipsum. Sed congue erat risus.</p>

        <p class="id-apresentation">orem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus augue. Vestibulum nec turpis ultricies, iaculis nunc a, placerat lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id lorem commodo, pulvinar orci quis, ultrices ipsum. Sed congue erat risus.</p>

        <p class="id-apresentation">orem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus augue. Vestibulum nec turpis ultricies, iaculis nunc a, placerat lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id lorem commodo, pulvinar orci quis, ultrices ipsum. Sed congue erat risus.</p>
    </div>
</section>
{% endblock %}
