.cards__title {
    color: var(--black);
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 0) {
    .cards__title {
        font-size: 2rem;
    }    
}

@media screen and (min-width: 768px) {
    .cards__title {
        font-size: 3.75rem;
    }    
}
